<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/indexStyle.css" />
  </head>

  <body>
    <div class="content-wrapper">
      <div class="gapfill1"></div>
      <header>
        <div class="left-nav">
          <a class="tech-blog-link" href="article.html">Tech Blog</a>
        </div>
        <div class="right-nav">
          <select id="language" onchange="setLanguage()">
            <option value="English">English</option>
            <option value="Arabic">Arabic</option>
          </select>
        </div>
      </header>
      <div class="gapfill2"></div>
    </div>
    <footer>
      <div class="copyright">
        &copy; The
        <a class="tech-blog-link" href="article.html">Tech Blog</a> 2023 created
        by 222-SWE-363 Student
      </div>
    </footer>
  </body>
</html>
